

/* This is an example of a element style*/
html{
    background-image: url("./images/IMG_20210928_132832.jpg"); 
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a{
    color:black;
}

body{
    font-family:  Arial, Helvetica, sans-serif;
    padding: 100px;
}

body.dark{
    color: rgb(207, 207, 200);
}

body.light{
    color: rgb(182, 241, 200);
 
}

body.salmon{
    color: rgb(250, 232, 235);
}

/* This is an example of a class*/
.title{
    font-size: 500%;
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(34, 32, 32);
    color: rgb(190, 219, 143);
    text-align: center;
  }



